.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose*.yml
docker-compose.dcproj
*.md
LICENSE
*.testsettings
vsts-docs
ServiceFabric
Components
cli-windows
cli-mac
cli-linux
**/bin/
**/obj/
**/node_modules/
**/bower_components/
**/wwwroot/lib/
**/appsettings.Development.json
.github/